<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qidian.dao.smartkit.UserInfoMapper" >

    <resultMap id="BaseResultMap" type="org.qidian.modal.smartkit.UserInfo" >
        <id column="uid" property="uid" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="pass_word" property="passWord" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="INTEGER" />
        <result column="group_name" property="groupName" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>
    
     <resultMap id="BaseResultMapDto" type="org.qidian.dto.SeriesTypeVo" >
        <id column="uid" property="uid" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="projectId" property="projectId" jdbcType="INTEGER" />
        <result column="msg" property="msg" jdbcType="VARCHAR" />
        <result column="dataType" property="dataType" jdbcType="VARCHAR" />
        <association property="tContents" column="{uid=uid,msg=msg, projectId=projectId,dataType=dataType}"  select="org.qidian.dao.smartkit.TContentsMapper.selectBySeriesUser" />
    </resultMap>
    

    <sql id="Base_Column_List" >
        uid, user_name, pass_word, email, created, group_name, name
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from user_info
        where uid = #{uid,jdbcType=INTEGER}
    </select>
    <select id="selectByall" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from user_info
    </select>
    

        <select id="LookNameTeclgView" resultMap="BaseResultMapDto" parameterType="org.qidian.dto.UserInfoDto" >
        select 
         uid, user_name, #{projectId} as projectId, #{msg} as msg, #{dataType} as dataType
        from user_info
    </select>
    
    
    
    <select id="selectByAuthorId" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select 
        <include refid="Base_Column_List" />
        from user_info
        where uid = #{authorId}
    </select>
    
        <select id="countByName" resultType="java.lang.Integer"  parameterType="org.qidian.modal.smartkit.UserInfo" >
        select  count(1)  from user_info
               where user_name = #{userName}
    </select>
    
    <select id="selectByUserInfo" resultMap="BaseResultMap" parameterType="org.qidian.modal.smartkit.UserInfo" >
        select 
        <include refid="Base_Column_List" />
        from user_info   where user_name = #{userName} and pass_word =   #{passWord,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from user_info
        where uid = #{uid,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.qidian.modal.smartkit.UserInfo" >
        insert into user_info (uid, user_name, pass_word, 
            email, created, group_name, 
            name)
        values (#{uid,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, 
            #{email,jdbcType=VARCHAR}, #{created,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, 
            #{name,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.qidian.modal.smartkit.UserInfo" >
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                uid,
            </if>
            <if test="userName != null" >
                user_name,
            </if>
            <if test="passWord != null" >
                pass_word,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="created != null" >
                created,
            </if>
            <if test="groupName != null" >
                group_name,
            </if>
            <if test="name != null" >
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="passWord != null" >
                #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                #{created,jdbcType=INTEGER},
            </if>
            <if test="groupName != null" >
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.qidian.modal.smartkit.UserInfo" >
        update user_info
        <set >
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="passWord != null" >
                pass_word = #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="created != null" >
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="groupName != null" >
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where uid = #{uid,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.qidian.modal.smartkit.UserInfo" >
        update user_info
        set user_name = #{userName,jdbcType=VARCHAR},
            pass_word = #{passWord,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            created = #{created,jdbcType=INTEGER},
            group_name = #{groupName,jdbcType=VARCHAR},
            name = #{name,jdbcType=VARCHAR}
        where uid = #{uid,jdbcType=INTEGER}
    </update>
</mapper>