<div class="container-fluid qd-vip">
    <div class="qd-head row">
        <div class="qd-icon s-icon col-lg-1">
            <!-- <i class="fa fa-file-text-o"></i> --><img src="../../static/admin/images/vip.png" width="40" height="40" alt=""></div>
        <div class="col-lg-2 text-v title-type">监控</div>
        <div class="col-lg-4 sch-box">
            <input type="text" name="" value="" placeholder="请输入硬要搜索的内容" class="form-control head-sch">
            <i class="fa fa-search"></i>
        </div>
        <div class="add-if-type-btn col-lg-2  text-right col-lg-offset-3">
            <button class="btn " data-toggle="modal" data-target="#addIfModal"><em>+</em>添加接口类型</button>
        </div>
    </div>
    <div class="watch-content">
        <!-- -->
        <div class="row gl-class">
            <div class="col-lg-1" style="background-color: white;margin-right:17px;height:54px;width:48px"></div>
            <div class="glblock-name col-lg-5 text-v">全平台接口请求超时数据</div>
            <div class="gl-slide col-lg-2">
                <span class=""><img src="../../static/admin/images/add.png" alt="" width="14" height="14"><em>新增</em></span>
                <span class=""><img src="../../static/admin/images/slideup.png" width="14" height="14"><em>收起</em></span>
            </div>
        </div>
        <div class="row gl-content" style="padding-top:30px">
            <form class="form-inline">
                <div class="form-group platform-group">
                    <label for="platform">平台: </label>
                    <select class="form-control" id="platform">
                        <option value="全部">全部</option>
                        <option value="人人都是产品经理">人人都是产品经理</option>
                        <option value="秒聘网">秒聘网</option>}
                        <option value="PassPort">PassPort</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>时间: </label>
                    <input type="text" placeholder="点击选择时间" class="form_datetime form-control watch-time">
                </div>
            </form>
            <table class="table table-hover table-bordered text-center watch-table">
                <thead>
                    <tr>
                        <th>平台名称</th>
                        <th>日志日期</th>
                        <th>接口</th>
                        <th>异常次数</th>
                        <th>最长反应事件</th>
                        <th>平反应映时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                    <tr>
                        <td>起点</td>
                        <td>2018/06/06</td>
                        <td>jkdakflhjalkfjakljfklj/jskjdfhsdjk/html</td>
                        <td>1</td>
                        <td>2048</td>
                        <td>1024</td>
                    </tr>
                </tbody>
            </table>
            <div class="watch-pagination">
                <span>总共19条记录：</span>
                <ul class="pagination">
                    <li><a href="#">上一页</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        language: "zh-CN",
        todayBtn: true
    });

});
</script>